<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mkit.hoingu3">

    <application
        android:name="com.hoingu3.app.LineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/beat_brick"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/beat_brick"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hoingu3.ui.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppIntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hoingu3.ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hoingu3.ui.activity.PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hoingu3.ui.activity.GameOverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.hoingu3.ui.activity.AnswerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>